@font-face {
  font-family: BebasNeue;
  src: url(BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(Helvetica.ttf);
}

h1 {
  font-family: 'Source Serif Pro';
  color: #800000FF;
  font-size: 500%;
  text-align: center;
  margin-top: 5%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/media/images/logo-background/campus_aerial_2-min.png?h=627&iar=0&w=1200&rev=d36b0970f9a34d84a096aedd844c5817&hash=8B454CD588430B9011993908192801EB');
}

#demo {
  color: whitesmoke;
  font-family: BebasNeue;
  margin-top: 10%;
}

#haha {
  flex-direction: row;
}

#heading {
  font-family: 'BebasNeue';
  color: whitesmoke;
  font-size: 500%;
  letter-spacing: .25rem;
  text-align: center;
  margin-top: -25px;
}
