@font-face {
  font-family: BebasNeue;
  src: url(BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(Helvetica.ttf);
}

h1 {
  font-family: 'Source Serif Pro';
  color: #800000FF;
  font-size: 500%;
  text-align: center;
  margin-top: 5%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://news.uchicago.edu/sites/default/files/styles/full_width/public/images/2021-12/UChicago%20campus%20and%20Midway.jpg?itok=3qLIdMhf');
}

#demo {
  color: whitesmoke;
  font-family: BebasNeue;
  margin-top: 10%;
}

#haha {
  flex-direction: row;
}

#heading {
  font-family: 'BebasNeue';
  color: whitesmoke;
  font-size: 500%;
  letter-spacing: .25rem;
  text-align: center;
  margin-top: -25px;
}
